* {
  font-family: Monaco, monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #75715E;
  color: #FFE792;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}

a:focus {
  color: grey;
  text-decoration: none;
}

.navbar-link {
  height: 100%;
  width: 100%;
}

.nav-item {
  width: 15rem;
}

.nav-item a {
  padding: 0;
}

.nav-item-active {
  border-bottom: 3px solid white;
}

.list-view-sort-button {
  background-color: #75715E;
  border-radius: 2rem;
  margin-top: 1rem;
  color: white;
  width: 10rem;
}

.list-view-sort-button:focus {
  border: none;
  outline: none;
}

.list-view-sort {
  margin-left: 2rem;
}

.post-container {
  width: 100%;
  background-color: #272822;
  margin-top: 1rem;
  padding: 0;
}

.post-title {
  color: #66D9EF;
}

.post-title:hover {
  color: #51adbf;
  text-decoration: underline;
}

.post-category {
  float: right;
  color: #F92672;
}

.post-timestamp {
  float: right;
  color: #FD971F;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.post-author {
  color: #AE81FF;
}

.post-score {
  color: #A6E22E;
  float: right;
}

.post-arrow {
  font-size: 2rem;
  color: #75715E;
  float: right;
}

.post-arrow:hover {
  color: #AE81FF;
}

.post-edit-button {
  float: right;
  margin-bottom: .5rem;
  background-color: #75715E;
  border-radius: 3px;
  color: white;
  width: 10rem;
}

.category-row {
  margin: .3rem;
  background-color: #272822;
}

.category-text {
  margin-left: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.add-view-container {
  background-color: #272822;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 7rem;
  padding-left: 7rem;
}

.add-form-text-box {
  margin-bottom: 3rem;
}
