yarn.lock
.DS_Store
package-lock.json

client/node_modules
client/coverage
client/build
client/yarn.lock
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

reactnd-project-readable-starter
